.comment
  .content
    = markdown h comment.content
  .metadata 
    %strong
      = comment.author.username
    |    
    = nice_date comment.created_at   
    |
    = link_to '#', post_comment_path(comment.post, comment), :title => "Постоянная ссылка"         
    - if user_can_edit? comment
      |
      = link_to 'Редактировать', edit_post_comment_path(comment.post, comment) 
      |
      = link_to 'Удалить', post_comment_path(comment.post, comment), :confirm => 'Точно удалить?', :method => :delete
