!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" } 
  %head
    %title Рубик &mdash; социальный микроблог о Ruby
    = #stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'main'
    %meta{ "http-equiv" => "Content-type", :content => "text/html;charset=UTF-8" }
    = auto_discovery_link_tag :rss, "http://feeds.rubyk.ru/rubyk"
  %body
    #header
      #logo
        - link_to root_path, :title => "Социальный микроблог о Ruby" do
          = image_tag "rubyk.gif", :alt => "Рубик"
      
      /    
        #new-post-link
          = link_to 'новая заметка', new_post_path       
        
      %ul#menu
        - for item in menu_items
          %li
            - if current_page? item.last
              .current= item.first
            - else
              = link_to item.first, item.last

      #auth    
        - if logged_in?
          %strong
            = current_user.email
          |
          = link_to 'Выйти', logout_path
        - else
          = link_to 'Войти через Google Account', login_path




    
    #notice  
      = flash[:notice]
    

    
    #content
      = yield
      
    #footer
      .copyright
        &copy; Владислав Семенов 
        |
        = link_to "Письмо автору", "mailto:vladislav.semenov@gmail.com"
        | 
        = link_to "Рубик на GitHub'е", "http://github.com/semenov/rubyk"
        | 
        = link_to "Твиттер", "http://twitter.com/rubyk_ru"        
        
      .counter
        = render :partial => 'layouts/li'
    = render :partial => 'layouts/analytics'
